*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

out
alecqs*.jar
logs
tmp
.idea
.ant-targets-build.xml
.DS_Store
*.iml

# Generated testfile
*.mqsc
